{% block form_choice_widget %}
    {% set attr = {
        class: attr.class ?? '' ~ ' form-choice',
        'data-component-form-choice': '{}',
    } + attr %}

    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}

        {% for child in form %}
            {% set choiceForms = [] %}

            {% if loop.index == 2 %}
                <div class="form-choice__form">
            {% elseif loop.index == 1 %}
                {% for value, choiceForm in child.vars.forms %}
                    {% set choiceForms = choiceForms + {(value): form_row(choiceForm)} %}
                {% endfor %}
            {% endif %}

            {{ form_row(child, loop.first ? {attr: {class: 'form-choice__choice', 'data-forms': choiceForms|json_encode}} : {}) }}

            {% if loop.index == 2 %}
                </div>
            {% endif %}
        {% endfor %}

        {% if form|length < 2 %}
            <div class="form-choice__form"></div>
        {% endif %}
    </div>
{% endblock %}
