{% block form_label %}
    {% from '@VanioWeb/formTranslator.html.twig' import translate_form_label %}

    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = {for: id} + label_attr %}
        {% endif %}

        {% if label_attr.class is defined and label_attr.class is not null %}
            {% set label_attr = {class: {(label_attr.class): true}} + label_attr %}
        {% endif %}

        <label {{ attributes({class: label_attr.class ?? {} + {required: required, 'control-label': true}} + label_attr) }}>
            {{ translate_form_label(form, translation_domain) }}
        </label>
    {%- endif -%}
{% endblock %}
