<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="vanio_web.filesystem_cache.class">Doctrine\Common\Cache\FilesystemCache</parameter>
        <parameter key="vanio_web.form.uploaded_file_type.class">Vanio\WebBundle\Form\UploadedFileType</parameter>
        <parameter key="vanio_web.form.validation_token_parser.class">Vanio\WebBundle\Form\ValidationTokenParser</parameter>
        <parameter key="vanio_web.form.caching_validation_parser.class">Vanio\WebBundle\Form\CachingValidationParser</parameter>
        <parameter key="vanio_web.form.validation_constraints_guesser.class">Vanio\WebBundle\Form\ValidationConstraintsGuesser</parameter>
        <parameter key="vanio_web.form.js_form_validator_extension.class">Vanio\WebBundle\Form\JsFormValidatorExtension</parameter>
        <parameter key="vanio_web.model.uploaded_file_repository.class">Vanio\DomainBundle\Doctrine\EntityRepository</parameter>
        <parameter key="vanio_web.request.request_type_listener.class">Vanio\WebBundle\Request\RequestTypeListener</parameter>
        <parameter key="vanio_web.request.target_path_resolver.class">Vanio\WebBundle\Request\TargetPathResolver</parameter>
        <parameter key="vanio_web.request.route_hierarchy_resolver.class">Vanio\WebBundle\Request\RouteHierarchyResolver</parameter>
        <parameter key="vanio_web.request.multilingual_listener.class">Vanio\WebBundle\Request\MultilingualListener</parameter>
        <parameter key="vanio_web.serializer.serializer.class">Vanio\WebBundle\Serializer\Serializer</parameter>
        <parameter key="vanio_web.http_kernel.embedded_fragment_renderer.class">Vanio\WebBundle\HttpKernel\EmbeddedFragmentRenderer</parameter>
        <parameter key="vanio_web.templating.snippet_renderer.class">Vanio\WebBundle\Templating\SnippetRenderer</parameter>
        <parameter key="vanio_web.templating.response_context.class">Vanio\WebBundle\Templating\ResponseContext</parameter>
        <parameter key="vanio_web.templating.twig_form_renderer_engine.class">Vanio\WebBundle\Templating\TwigFormRendererEngine</parameter>
        <parameter key="vanio_web.templating.web_extension.class">Vanio\WebBundle\Templating\WebExtension</parameter>
        <parameter key="vanio_web.translation.php_extractor.class">Vanio\WebBundle\Translation\PhpExtractor</parameter>
        <parameter key="vanio_web.form.canonization_extension.class">Vanio\WebBundle\Form\CanonizationExtension</parameter>
        <parameter key="vanio_web.form.restore_form_order_extension.class">Vanio\WebBundle\Form\RestoreFormOrderExtension</parameter>
        <parameter key="vanio_web.form.preserve_missing_data_extension.class">Vanio\WebBundle\Form\PreserveMissingDataExtension</parameter>
        <parameter key="vanio_web.cli.warmup_images_command.class">Vanio\WebBundle\Cli\WarmupImagesCommand</parameter>
    </parameters>

    <services>
        <service id="twig.form.engine" class="%vanio_web.templating.twig_form_renderer_engine.class%" public="false">
            <argument>%twig.form.resources%</argument>
            <argument type="service" id="twig"/>
        </service>

        <service id="translation.extractor.php" class="%vanio_web.translation.php_extractor.class%">
            <tag name="translation.extractor" alias="php"/>
        </service>

        <service id="vanio_web.filesystem_cache" class="%vanio_web.filesystem_cache.class%" public="false">
            <argument>%kernel.cache_dir%/vanio_web</argument>
        </service>

        <service id="vanio_web.model.uploaded_file_repository" class="%vanio_web.model.uploaded_file_repository.class%" public="false" abstract="true">
            <argument type="service" id="doctrine"/>
            <argument>Vanio\WebBundle\Model\UploadedFile</argument>
        </service>

        <service id="vanio_web.form.uploaded_file_type" class="%vanio_web.form.uploaded_file_type.class%" abstract="true">
            <argument type="service" id="vanio_web.model.uploaded_file_repository"/>
            <argument type="service" id="request_stack"/>
            <argument>%web_root%</argument>
            <argument type="service" id="liip_imagine.cache.manager" on-invalid="null"/>
        </service>

        <service id="vanio_web.form.validation_token_parser" class="%vanio_web.form.validation_token_parser.class%"/>

        <service id="vanio_web.form.caching_validation_parser" class="%vanio_web.form.caching_validation_parser.class%">
            <argument type="service" id="vanio_web.form.validation_token_parser"/>
            <argument type="service" id="vanio_web.filesystem_cache"/>
        </service>

        <service id="vanio_web.form.validation_parser" alias="vanio_web.form.caching_validation_parser" public="false"/>

        <service id="vanio_web.form.validation_constraints_guesser" class="%vanio_web.form.validation_constraints_guesser.class%" public="false">
            <argument type="service" id="vanio_web.form.validation_parser"/>
        </service>

        <service id="vanio_web.form.js_form_validator_extension" class="%vanio_web.form.js_form_validator_extension.class%">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_web.request.request_type_listener" class="%vanio_web.request.request_type_listener.class%" abstract="true"/>

        <service id="vanio_web.request.target_path_resolver" class="%vanio_web.request.target_path_resolver.class%">
            <argument type="service" id="security.http_utils"/>
            <argument type="service" id="router"/>
            <argument>%vanio_web%</argument>
        </service>

        <service id="vanio_web.request.route_hierarchy_resolver" class="%vanio_web.request.route_hierarchy_resolver.class%">
            <argument type="service" id="router"/>
        </service>

        <service id="vanio_web.request.multilingual_listener" class="%vanio_web.request.multilingual_listener.class%" abstract="true">
            <argument>%vanio_web.multilingual_supported_locales%</argument>
            <argument>%vanio_web.multilingual_root_paths%</argument>
            <argument>%vanio_web.multilingual_locale_prefixes%</argument>
        </service>

        <service id="vanio_web.serializer.serializer" class="%vanio_web.serializer.serializer.class%">
            <argument type="service" id="serializer" on-invalid="null"/>
            <argument type="service" id="jms_serializer.serializer" on-invalid="null"/>
        </service>

        <service id="vanio_web.http_kernel.embedded_fragment_renderer" class="%vanio_web.http_kernel.embedded_fragment_renderer.class%" parent="fragment.renderer.inline">
            <tag name="kernel.fragment_renderer" alias="embedded"/>
        </service>

        <service id="vanio_web.templating.snippet_renderer" class="%vanio_web.templating.snippet_renderer.class%" abstract="true">
            <argument type="service" id="service_container"/>
        </service>

        <service id="vanio_web.templating.response_context" class="%vanio_web.templating.response_context.class%"/>

        <service id="vanio_web.templating.web_extension" class="%vanio_web.templating.web_extension.class%" public="false">
            <argument type="service" id="translator"/>
            <argument type="service" id="router"/>
            <argument type="service" id="twig.form.engine"/>
            <argument type="service" id="request_stack"/>
            <argument type="service" id="vanio_web.request.target_path_resolver"/>
            <argument type="service" id="vanio_web.request.route_hierarchy_resolver"/>
            <argument type="service" id="vanio_web.templating.response_context"/>
            <argument type="service" id="vanio_web.serializer.serializer"/>
            <argument type="service" id="doctrine"/>
            <argument type="service" id="liip_imagine.cache.manager" on-invalid="null"/>
            <argument>%web_root%</argument>
            <argument>%kernel.cache_dir%/vanio_web</argument>
            <argument>%vanio_web.google_maps_api_key%</argument>
            <argument>%vanio_web.multilingual_supported_locales%</argument>
            <tag name="twig.extension"/>
        </service>

        <service id="vanio_web.form.canonization_extension" class="%vanio_web.form.canonization_extension.class%">
            <argument type="service" id="request_stack"/>
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_web.form.restore_form_order_extension" class="%vanio_web.form.restore_form_order_extension.class%">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_web.form.preserve_missing_data_extension" class="%vanio_web.form.preserve_missing_data_extension.class%">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType"/>
        </service>

        <service id="vanio_web.cli.warmup_images_command" class="%vanio_web.cli.warmup_images_command.class%" public="false">
            <argument type="service" id="http_kernel"/>
            <argument type="service" id="router"/>
            <tag name="console.command" command="vanio:warmup-images"/>
        </service>
    </services>
</container>
