<?xml version="1.0"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <parameters>
        <parameter key="vanio_web.request.request_type_listener.class">Vanio\WebBundle\Request\RequestTypeListener</parameter>
        <parameter key="vanio_web.request.referer_resolver.class">Vanio\WebBundle\Request\RefererResolver</parameter>
        <parameter key="vanio_web.http_kernel.embedded_fragment_renderer.class">Vanio\WebBundle\HttpKernel\EmbeddedFragmentRenderer</parameter>
        <parameter key="vanio_web.templating.snippet_renderer.class">Vanio\WebBundle\Templating\SnippetRenderer</parameter>
        <parameter key="vanio_web.templating.web_extension.class">Vanio\WebBundle\Templating\WebExtension</parameter>
        <parameter key="vanio_web.translation.php_extractor.class">Vanio\WebBundle\Translation\PhpExtractor</parameter>
    </parameters>

    <services>
        <service id="translation.extractor.php" class="%vanio_web.translation.php_extractor.class%">
            <tag name="translation.extractor" alias="php"/>
        </service>

        <service id="vanio_web.request.request_type_listener" class="%vanio_web.request.request_type_listener.class%" abstract="true"/>

        <service id="vanio_web.request.referer_resolver" class="%vanio_web.request.referer_resolver.class%">
            <argument type="service" id="security.http_utils"/>
            <argument type="service" id="router"/>
            <argument>%vanio_web%</argument>
        </service>

        <service id="vanio_web.http_kernel.embedded_fragment_renderer" class="%vanio_web.http_kernel.embedded_fragment_renderer.class%" parent="fragment.renderer.inline">
            <tag name="kernel.fragment_renderer" alias="embedded"/>
        </service>

        <service id="vanio_web.templating.snippet_renderer" class="%vanio_web.templating.snippet_renderer.class%" abstract="true">
            <argument type="service" id="service_container"/>
        </service>

        <service id="vanio_web.templating.web_extension" class="%vanio_web.templating.web_extension.class%" public="false">
            <argument type="service" id="request_stack"/>
            <argument type="service" id="router"/>
            <argument type="service" id="vanio_web.request.referer_resolver"/>
            <tag name="twig.extension"/>
        </service>
    </services>
</container>
